/* @import "./book-app/book-cmps/"; */


/* @import "./book-app/book-pages/" */

@import "./cmps/app-footer.css";
@import "./cmps/app-header.css";
@import "./gmail-app/gmail-cmps/email-body.cmp.css";
@import "./gmail-app/gmail-cmps/email-filter.cmp.css";
@import "./gmail-app/gmail-cmps/email-preview.cmp.css";
@import "./gmail-app/gmail-cmps/mails-list.cmp.css";
@import "./gmail-app/gmail-cmps/email-compose.cmp.css";
@import "./gmail-app/gmail-cmps/email-folder-list.cmp.css";
@import "./gmail-app/gmail-pages/gmail-app.css";
@import "./gmail-app/gmail-pages/gmail-details.css";
@import "./keep-app/keep-pages/keep-list.css";
@import "./keep-app/keep-cmps/keep-preview.css";
@import "./keep-app/keep-cmps/note-txt.css";
@import "./keep-app/keep-cmps/note-img.css";
@import "./keep-app/keep-cmps/note-todos.css";
@import "./keep-app/keep-pages/keep-app.css";
@import "./pages/home-page.css";
@import "./parts/helpers.css";
* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


body {
    margin: 0;
}

