
.email-compose{
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;

    left: 50%;
    transform: translate(-50%,-50%);
}


.user-msg-compose {
    position: absolute;
    top: 15%;
    left: 80%;
    transform: translate(-50%,-50%);

}

.speach{
    position: relative;
    width: 160px;
    height: 100px;

}

.speach-txt {
    font-family: right;
    color: rgb(189, 124, 169);
    font-size: 12px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}

.exit {
    cursor: pointer;
    margin-right: 10px;
    color: white;
    position: absolute;
    right: 0;
    top: 5px;
    margin-top: 0;

}
.email-compose form{
    
    display: flex;
    flex-direction: column;
}

.email-compose form input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(226, 222, 222);
    padding: 7px;
    color: rgb(102, 102, 102)
}

.email-compose textarea {
    position: relative;
    border: none;
    height: 250px;
}

.email-compose form h1{
    margin: 0;
    margin-top:-20px;
    padding: 5px;
    font-size: 18px;
    padding-inline-start: 10px;
    text-align: left;
    background-color: rgb(49, 49, 49);
    color: white;
}

.email-compose .actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color:white;
    height: 60px;
}

.send {
    cursor: pointer;
    border: none;
    height: 30px;
    width: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(64, 140, 240);
    color: white;
}

.trash {
    cursor: pointer;
    border: none;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: white;
}

.close-modal {
    width: 30px

}

@media (max-width: 460px) {
    .email-compose{
        top: 46%;
        width: 350px;
    }

  

}



@media (min-width: 460px) and (max-width: 700px) {
    .email-compose{
        top: 46%;
        width: 450px;
    }



}

@media (min-width: 700px) {

    .email-compose{
        width: 810px;
        top: 50%;
    }


}