.email-filter {
    
    display: flex;
    font-family: manrope-m;
    margin-top: 15px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.filterby {
    font-family: manrope-m;
    position: relative;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 5px;
    padding: 12px;
    display: flex;
}

.more-options {
    z-index: 1;
    font-size: 13px;
    position: absolute;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: rgba(243, 243, 243, 0.836);
    top: 40px;
    display: flex;
    padding-inline-start: 10px;
}

.more-options >* {
    font-family: manrope-m;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: .5px solid rgba(199, 199, 199, 0.979);
    background-color: transparent;
}

.more-options >*:nth-child(even) {
    margin-inline-end: 40px;
}

.filter-img {
    cursor: pointer;
    padding: 3px;
    opacity: 0.7;
    position: absolute;
    top: 3px;
    right: 7px;
    width: 30px;
}

.search-img {
    cursor: pointer;
    padding: 3px;
    opacity: 0.7;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 30px;

}

.filter-img:hover {
    border-radius: 50%;
    background-color: rgba(172, 171, 171, 0.658);
   
}

.options-img {
    opacity: 0.7;
    border: none;
    width: 20px;
    height: 20px;
}



@media (max-width: 460px) {
    .email-filter {
        left: 10px;
    }

    .filterby {
        width: 360px;
        padding-inline-start: 40px;
    }

    .search-img {
        display: none;
    
    }
    .more-options {
        background-color: rgba(255, 255, 255, 0.884);
    }

}

@media (max-width: 730px) and (min-width: 460px) {
    .email-filter {
        margin-left: 20px;
    }

    .filterby {
        display: flex;
        width:460px;
        padding-inline-start: 40px;
    }
    .search-img {
        display: none;
    
    }
    .more-options {
        background-color: rgba(255, 255, 255, 0.884);
        width: 300px;
    }
 
}


@media (min-width: 730px) {
    .email-filter {
        left: 190px;
    }

    .filterby {
        width: 500px;
        padding-inline-start: 40px;
        background-color: rgba(238, 238, 238, 0.507);
    }

    .more-options {
        background-color: rgba(255, 255, 255, 0.836);
        width: 500px;
    }
    .search-img {
        cursor: pointer;
        padding: 3px;
        opacity: 0.7;
        position: absolute;
        top: 3px;
        left: 7px;
        width: 30px;
    
    }


}