

 .email-filter .filtering{
    position: absolute;
    top: 10px;
    margin-left: 30%;
    text-align: center;
    display: flex;
}

.email-filter .filtering .filterby {
    width: 250px;
    margin-right: 20px;
    border: 0.5px solid rgb(218, 216, 216);
}

.email-filter .filtering .sortby {
    width: 120px;
    margin-right: 20px;
    border: 0.5px solid rgb(218, 216, 216);
}

.compose-btn {
    position:absolute;
    width: 100px;
    border: none;
    font-size: 17px;
    background-color: rgb(166, 102, 196);
    color: white;
    border-radius: 10px;
    top: 110px;
    left: 20px;
    cursor: pointer;
   
}