
.email-preview {
    color: rgb(68, 68, 68);
    padding: 0;

}
/* before-click */

.email-modal-small {
    position: relative;
    font-size: 12px;
    display: grid;
    border: .3px solid rgba(180, 180, 180, 0.514);
    border-collapse: collapse;
    border-top: none;
    border-left: none;
}

.email-modal-small>*{
    display: flex;
    align-items: center;
    position: relative;
}
.email-modal-small:hover {
    transition: 0.2s;
    transition: .1s;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* after-click */

.email-modal-medium {
    position: relative;
    line-height: .8rem;
    padding-inline-start: 10px;
    display: flex;
    flex-direction: column;
}

.subject-medium {
    font-size: 15px;
    font-weight: bold;
}

.from-medium  {
    font-size: 11px;
    font-weight: bold;
}

.from-medium span {
    font-weight: lighter;
    color: gray;
}

.body-medium {
   font-size: 12px;
}
.remove-email {
    border :none;
    background-color: transparent;
    cursor: pointer;
   position: absolute;
   right: 10px;
}
.preview-btn {
    margin-top: 10px;
    width: 20px;
    opacity: 0.7;
}
/* .date-preview {
  
} */

.expand{
    opacity: 0.5;
    width: 18px;
}
.show-details {
    border :none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    position: absolute;
    top: 2px;
    right: 35px;
}
.star-img {
    opacity: 0.7;
    width: 20px;
}

/* hover-state */

/* helpers */

.read {
    background-color: rgba(240, 240, 240, 0.712);
    color: rgb(94, 94, 94);
}


@media (max-width: 460px) {

    .email-modal-small {
        position: relative;
        width: 360px;
        grid-template-rows:  3px 5px 3px ;
    }

    .email-modal-medium {
        min-width: 360px;
    }

    .star-img {
        margin: auto;
        margin-top: 50px;
        margin-left: 330px;
    }

    .delete-hover-btn {
        position: absolute;
        right: 10px;
        top:-85px;
        width: 20px;
    }
    
    .unread-hover-btn {
        position: absolute;
        right: 40px;
        top:-85px;
        width: 20px;
    }
    
    .read-hover-btn {
        position: absolute;
        right: 40px;
        top:-85px;
        width: 20px;
    }

    .date-preview {
        top:-90px;
        left: 280px;
    }
    .sender-small {
        margin-top: 20px;
        letter-spacing: 0.03rem;
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 20px;
        font-family: manrope-m;
    }

    .body-small {
        margin-top: 50px;
        letter-spacing: 0.03rem;
        margin-left: 20px;
    }
    
    .subject-small {
        margin-top: 40px;
        letter-spacing: 0.03rem;
        margin-left: 20px;
        font-size: 16px;
        font-family: manrope-m;
    }
}
@media (max-width: 730px) and (min-width: 460px) {
    .email-modal-small {
        position: relative;
        width: 440px;
        grid-template-rows:  3px 15px 3px ;
        gap: 9px;
    }

    .email-modal-medium {
        width: 440px;
    }

    .delete-hover-btn {
        position: absolute;
        right: 10px;
        top:-85px;
        width: 20px;
    }
    
    .unread-hover-btn {
        position: absolute;
        right: 40px;
        top:-85px;
        width: 20px;
    }
    
    .read-hover-btn {
        position: absolute;
        right: 40px;
        top:-85px;
        width: 20px;
    }

    .star-img {
        margin: auto;
        margin-top: 35px;
        margin-left: 400px;
    }
    .date-preview {
        position: absolute;
        top:0;
        margin-left: 360px;
    }

    .sender-small {
        margin-top: 10px;
        letter-spacing: 0.03rem;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        font-family: manrope-m;
    }

    .body-small {
        letter-spacing: 0.03rem;
        margin-left: 20px;

    }
    
    .subject-small {
        letter-spacing: 0.03rem;
        margin-left: 20px;
        font-size: 14px;
        font-family: manrope-m;
    }
}




@media (min-width: 730px) {
    .email-modal-small {
        grid-template-columns:  10px 1fr 1fr 2fr   .8fr;
        width: 85vw;
        border: .3px solid rgba(180, 180, 180, 0.514);
        border-collapse: collapse;
        border-top: none;
        border-left: none;
    }

    .email-preview {
        font-size: 13px;
    }

    .email-modal-medium {
        width: 85vw;
    }

    .sender-small {
        margin-left: 30px;
    }
    .delete-hover-btn {
        top: 11px;
        left:43px;
        position: absolute;
        width: 20px;
    }
    
    .unread-hover-btn {
        left: 10px;
        position:absolute;
        width: 20px;
    }
    
    .read-hover-btn {
        left: 10px;
        position:absolute;
        width: 20px;
    }

    .sender-small {
        font-weight:600;
    }
    
    .subject-small {
        font-weight:600;
    }
    .remove-email {
        border :none;
        background-color: transparent;
        cursor: pointer;
       position: absolute;
       right: 100px;
    }
    .show-details {
        border :none;
        background-color: transparent;
        cursor: pointer;
        margin-right: 10px;
        position: absolute;
        top: 2px;
        right: 120px;
    }
}