.emails-list .list{
    display: flex;
    flex-direction: column;
    overflow:scroll;
    overflow-x:hidden;

}


@media (max-width: 460px) {
    .emails-list {
        display: flex;
    }

    .emails-list .list {
        margin-top: 70px;
        width: 375px;
        height: 80vh;
    }
}

@media (max-width: 730px) and (min-width: 460px) {
    .emails-list {
        margin-left: 20px;
    }

    .emails-list .list {
        margin-top: 70px;
        width: 450px;
        height: 80vh;
    }
}


@media (min-width: 730px) {
    .emails-list .list {
        margin-top: 80px;
        max-width: 80vw;
        padding: 0;
        height: 85%;
    }
}