.notes-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 50px;
    width: 700px;
    padding: 10px;
}

.notes-box input {
    border: none;
}

.note-list {
    margin: 30px 0 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.note-list span {
    cursor: pointer;
    right: 10px;
}

.note-container {
    padding: 5px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(247, 232, 232, 0.794);
    text-align: center;
    color: rgb(37, 37, 37);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.note-container input {
    opacity: 0;
    z-index: 1;
    position: relative;
}