.note-txt {
    height: 150px;
    text-align: center;
}

.note-txt input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.25rem;
    margin: 47px 0;
    text-align: center;
    font-weight: bolder;
}

.note-txt h1 {
    font-size: 1.5rem;
}