.note-img {
    height: 150px;
    text-align: center;
}

.note-video {
    height: 150px;
    text-align: center;
}

.note-img img {
    margin-top: 10px;
    width: 250px;
}

.note-img h1,
.note-video h1 {
    font-size: 1.5rem;
    margin: 0;
}

.note-img input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    margin-top: 5px;
}