.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.main-nav {
    margin-right: 40px;
    width: 50px;
    height: 3vh;
    background-color: rgb(131, 71, 180);

}

.app-header h3 {
    margin:0;
}

.main-nav-container {
    display: flex;
    flex-direction: column;
    width: 100px;


}