.footer  {
    height: 4vh;
    background-color: #ffffff;
}


.footer .copyright {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family:manrope-l;
    color: rgba(72, 61, 194, 0.877);

}