.app-header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: rgba(231, 180, 139, 0.884);
    cursor: pointer;
}

.main-nav {
    margin-right: 40px;
    width: 50px;
    height: 3vh;
    border-radius: 50%;
    background-color: rgba(103, 138, 87, 0.445);

}

.app-header h3 {
    margin:0;
}

.main-nav-container {
    display: flex;
    flex-direction: column;
    width: 100px;


}