/* TYPOGRAPHY */


@font-face {
    font-family: manrope-l;
    src: url(../../../fonts/Manrope-Light.ttf);
}

@font-face {
    font-family:  manrope-m;
    src: url(../../../fonts/Manrope-Medium.ttf);
}

@font-face {
    font-family: manrope-r;
    src: url(../../../fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: right;
    src: url(../../../fonts/Righteous-Regular.ttf);
}


.gmail-app{
    font-family: manrope-r;
    display: flex;
}

.gmail-app ul {

    padding: 0;
    flex-direction: column;
    list-style: none;
}

.gmail-app li {
    padding: 0;
}

.main-content {
    height: 90vh;
}