.note-list {
    margin: 30px 0 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-family: cursive;
}

.cmp-type,
.tool-bar {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.cmp-type li {
    padding: 10px;
}

.notes-box input {
    border: none;
    outline: none;
    width: 400px;
    font-size: 1.3rem;
}

.tool-bar {
    padding: 0;
}

.tool-bar li {
    padding: 20px 15px;
}

.note-container {
    padding: 5px;
    height: 300px;
    width: 400px;
    /* background-color: rgba(247, 232, 232, 0.726); */
    color: rgb(37, 37, 37);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
}