.note-list {
    margin: 30px 0 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.notes-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 50px;
    width: 700px;
    padding: 10px;
    font-size: 1.2rem;
}

.keep-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cmp-type,
.tool-bar {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.cmp-type li {
    padding: 10px;
}

.notes-box input {
    border: none;
    outline: none;
    width: 400px;
    font-size: 1.2rem;
}

.tool-bar {
    padding: 0;
    font-size: 1.25rem;
}

.tool-bar li {
    padding: 5px;
}

.note-container {
    padding: 5px;
    height: 200px;
    width: 300px;
    /* background-color: rgba(247, 232, 232, 0.726); */
    color: rgb(37, 37, 37);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
}