 
.app-main-home {
    height: 90vh;
    background-color: #ffffff;
}


.home-img {
    position: absolute;
    right:0;
   width: 800px;
   height: 80vh;
}

.commercial {
    height: 90vh;
    z-index: 1;
}

.commercial-main {
    background-color: rgba(255, 205, 3, 0.445);
    font-family: right;
    color: rgb(255,93,171);
    font-size: 45px;
    position: absolute;
    margin-left: 90px;
    margin-top: 140px;
}

.commercial-secondary {
    font-family: right;
    color: rgba(72, 61, 194, 0.514);
    font-size: 40px;
    position: absolute;
    margin-left: 90px;
    margin-top: 190px;
}

.features {
    
    position: relative;
    top: 370px;
    display: flex;
    margin-left: 90px
}

.feature-email {
    
    margin-right: 90px;
    width: 90px;
    height: 90px;
}

.feature-todo {
    margin-right: 70px;
    width: 90px;
    height: 90px;
}

.feature-read {
    width: 90px;
    height: 90px;
}

.feature-email-p {
    margin-top: 10px;
    font-family: right;
    color: rgba(62, 62, 63, 0.952);
    position: absolute;
    top:80px;
    margin-left: -3px;
 
}

.feature-todos-p {
    margin-top: 10px;
    font-family: right;
    color: rgba(62, 62, 63, 0.952);
    position: absolute;
    top:80px;
    margin-left: 154px;
}


.feature-read-p {
    margin-top: 10px;
    color: rgba(62, 62, 63, 0.952);
    font-family: right;
    position: absolute;
    top:80px;
    margin-left: 364px;
}

